Repository bmorrise/grader: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_client-service, trigger_item-service

trigger_client-service:
  stage: triggers
  trigger:
    include: client-service/.gitlab-ci.yml

trigger_item-service:
  stage: triggers
  trigger:
    include: item-service/.gitlab-ci.yml

Update item service
  item-service/.gitlab-ci.yml
Due: trigger_item-service

Updated build
  .gitlab-ci.yml
  client-service/.gitlab-ci.yml
  item-service/.gitlab-ci.yml
Due: trigger_client-service, trigger_item-service

Updated build
  .gitlab-ci.yml
Due: none

Updated
  .gitlab-ci.yml
Due: none

Update
  .gitlab-ci.yml
Due: none

Updated
  .gitlab-ci.yml
  client-service/src/test/java/com/fakecompany/grader/clientservice/ClientServiceApplicationTests.java
  item-service/src/test/java/com/fakecompany/grader/itemservice/ItemServiceApplicationTests.java
Due: none

Added sonar
  .gitlab-ci.yml
  client-service/src/main/java/com/fakecompany/grader/clientservice/ClientController.java
  client-service/src/main/java/com/fakecompany/grader/clientservice/ItemClient.java
Due: none

Added sonar
  .gitlab-ci.yml
Due: none

Update replicas
  client-service/client-service-deployment.yaml
  frontend/frontend-deployment.yaml
  item-service/item-service-deployment.yaml
Due: trigger_client-service, trigger_item-service

Add e2e
  .gitlab-ci.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/tests/index.js
Due: none

Variablize Build
  .gitlab-ci.yml
  frontend/tests/index.js
Due: none

Updated tests
  frontend/tests/index.js
Due: none

Updated
  frontend/tests/index.js
Due: none

Update build pipline
  .gitlab-ci.yml
Due: none

Updated
  client-service/src/main/java/com/fakecompany/grader/clientservice/ClientController.java
  client-service/src/main/java/com/fakecompany/grader/clientservice/ItemClient.java
  item-service/item-service-deployment.yaml
  item-service/src/main/java/com/fakecompany/grader/itemservice/controller/ItemController.java
Due: trigger_item-service

Fixed issue
  item-service/src/main/java/com/fakecompany/grader/itemservice/controller/ItemController.java
Due: none

Update item-service
  client-service/src/main/java/com/fakecompany/grader/clientservice/ClientController.java
  client-service/src/main/java/com/fakecompany/grader/clientservice/ItemClient.java
Due: none

Added exception
  item-service/src/main/java/com/fakecompany/grader/itemservice/controller/ItemController.java
Due: none

Updated
  client-service/client-service-deployment.yaml
  item-service/item-service-deployment.yaml
Due: trigger_client-service, trigger_item-service

Changed collector location
  client-service/client-service-deployment.yaml
  item-service/item-service-deployment.yaml
  item-service/src/main/java/com/fakecompany/grader/itemservice/ItemServiceApplication.java
Due: trigger_client-service, trigger_item-service

Added exceptions
  item-service/src/main/java/com/fakecompany/grader/itemservice/ItemServiceApplication.java
  item-service/src/main/java/com/fakecompany/grader/itemservice/exception/ExceptionFive.java
  item-service/src/main/java/com/fakecompany/grader/itemservice/exception/ExceptionFour.java
  item-service/src/main/java/com/fakecompany/grader/itemservice/exception/ExceptionOne.java
  item-service/src/main/java/com/fakecompany/grader/itemservice/exception/ExceptionThree.java
  item-service/src/main/java/com/fakecompany/grader/itemservice/exception/ExceptionTwo.java
Due: none

Updated collector connection
  client-service/client-service-deployment.yaml
  item-service/item-service-deployment.yaml
Due: trigger_client-service, trigger_item-service

Changed where collector is
  client-service/client-service-deployment.yaml
  item-service/item-service-deployment.yaml
Due: trigger_client-service, trigger_item-service

Path conditions:
  trigger_client-service: any of: client-service/*
  trigger_item-service: any of: item-service/*
